/* table,tr,td,th{
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;

}

h2{
  text-decoration: underline;
  color: brown;
}
h3{

  text-decoration: underline;
  color: darkblue;
}
.main{
  display: flex;
  gap: 50vh;
  
}
#exple{
  display: flex;
  flex-direction: row;
  
} */
body{
  background-color: aliceblue;
}